/* shared styles */

*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}


.max-container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}


.bth-primary{
    border-radius: 8px;
    background-color: #FF900E;
    padding: 1rem;
    border: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}


/* header styles */




header{
    background-color: rgba(255, 144, 14, 0.100);
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  30px 0 50px 0;
}

.nav-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #131313;

}

nav > ul{
    display: flex;
    gap: 30px;
}

ul > li{
    list-style: none;
    font-weight: 500;
    font-size: 1rem;
}

nav li  a{
    text-decoration: none;
    font-size: 1.25rem;
}
li > a:hover{
    text-decoration: underline;
    color: rgba(0, 0, 255, 0.781);
}

/* banner styles */

.banner-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 15px;
}

.banner-description{
    padding-bottom: 15px;
    color: #727272;
}

.banner img{
    width: 100%;
    margin-top: 25px;
    padding-bottom: 30px;
}



/* teams styles */

.teams-container{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 30px;
    margin: 110px auto;
}


.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-img-container img{
    max-width:  300px;
    object-fit: cover;
    
}

.teams-content .teams-description{
    margin: 30px auto;
    line-height: 20px;
}

.teams-title{
    font-size: 2.5rem;
    font-weight: 500;
}

.teams-title .quick-list{
    color: #727272;
}

.teams-title .text-features{
    color: #FF900E;
    font-weight: 700;
}

/* responsive media queries */



/* mobile devices */
@media screen and (max-width: 576px){
    
    nav, .teams-container{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }

    .teams-container{
        padding: 0;
        gap: 30;
        text-align: center;
        margin: 50px auto;
    }

    nav > ul{
        gap: 10px;
       padding-top: 15px;
    }
    .banner-title{
        font-size: 2.5rem;
    }

}


/* tablet or medium devices */

@media screen and (min-width: 576px) and (max-width: 992px){
    nav{
        flex-direction: column;
        gap: 25px;
    }

    .teams-container{
        flex-direction: column;
        padding: 0;
        gap: 50;
        text-align: center;
        margin: 70px auto;
    }
}